* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-link {
  text-decoration: none;
  color: #e5dbc2;
}

.header-link:hover {
  color: #e5dbc2;
}

.menu-btn {
  position: relative;
  top: 40px;
  padding: 30px;
  background: #000;
  border-radius: 100%;
  width: 180px;
  // .menu-btn {
  //   position: relative;
  //   top: 40px;
  //   padding: 30px;
  //   background: #000;
  //   border-radius: 100%;
  //   width: 25%;
  //   height: 20%;
  //   cursor: pointer;
  //   animation: spini 0.5s ease-in-out;
  //   background: url("../../../public/Logo-Zium.svg") no-repeat 50%/50% #000;
  //   opacity: 0.9;
  //   p {
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }
  //   .button {
  //     opacity: 1;
  //     width: 100%;
  //     height: 100%;
  //     pointer-events: auto;
  //     color: #e5dbc2;
  //     background: #000;
  //     text-align: center;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     &:first-of-type {
  //       top: 0;
  //       left: -102%;
  //     }
  //     &:nth-of-type(2) {
  //       top: -102%;
  //       transition-delay: 0.05s;
  //     }
  //     &:nth-of-type(3) {
  //       top: 0;
  //       right: -102%;
  //       transition-delay: 0.1s;
  //     }
  //     &:last-of-type {
  //       bottom: -102%;
  //       transition-delay: 0.05s;
  //     }
  //   }
  // }

  height: 20%;
  cursor: pointer;
  animation: spini 1.2s linear;
  animation-fill-mode: forwards;
  background: url("../../../public/Logo-Zium.svg") no-repeat 50%/50% #000;
  opacity: 0.9;
  p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .button {
    opacity: 1;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    color: #e5dbc2;
    background: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-of-type {
      top: 0;
      left: -102%;
    }
    &:nth-of-type(2) {
      top: -102%;
      transition-delay: 0.05s;
    }
    &:nth-of-type(3) {
      top: 0;
      right: -102%;
      transition-delay: 0.1s;
    }
    &:last-of-type {
      bottom: -102%;
      transition-delay: 0.05s;
    }
  }
}

.button {
  border-radius: 50%;
  cursor: pointer;
  background: #e8e8f3;
  position: absolute;

  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
    0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  z-index: -1;
  // &:hover {
  //   transform: scale(1.1);
  // }
  // &:first-of-type {
  //   background: url("https://assets.codepen.io/3537853/cam.svg") no-repeat 50%/50%
  //     #000;
  // }
  // &:nth-of-type(2) {
  //   background: url("https://assets.codepen.io/3537853/img.svg") no-repeat 50%/ 50%
  //     #000;
  // }
  // &:nth-of-type(3) {
  //   background: url("https://assets.codepen.io/3537853/music.svg") no-repeat 50%
  //     45%/50% 45% #000;
  // }
  // &:last-of-type {
  //   background: url("https://assets.codepen.io/3537853/music.svg") no-repeat 50%
  //     45%/50% 45% #000;
  // }
}
.rotateNav {
  animation: spin 1.2s linear;
  animation-fill-mode: forwards;
}
.zoom-container {
  transition: transform 1s;
  cursor: pointer;
}

.zoomed {
  transform: scale(1.2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(8);
  }
  100% {
    transform: rotate(-720deg) scale(1);
  }
}
@keyframes spini {
  0% {
    transform: rotate(0deg) scale(8);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

/*** Mixins & Default Styles ***/
@mixin object($width, $height, $bg) {
  width: $width;
  height: $height;
  background: $bg;
}
@mixin transPos($top, $right, $bottom, $left, $transX, $transY) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  transform: translate($transX, $transY);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  // height: 100vh;
  // background-color: #998784;
}

/*** Color Variables ***/
$header-bg: #998784;
$nav-bg: #998784;
$pink: #fa6c98;
$aqua: #79edfc;
$accent: #fff;

/*** Centering Hack ***/
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** Header Styles ***/
// header {
//   @include object(100vw, 20vh, $header-bg);
//   display: flex;
// }

/*** Navigation Styles ***/
nav {
  @include object(100vw, 100vh, $nav-bg);
  display: grid;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  .logo {
    display: none;
  }

  &.navShadow {
    // box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
    height: 10%;
    background: transparent;

    #word-mark {
      opacity: 0;
    }
    .menu-btn {
      width: 4%;
      height: 7vh;

      .button {
        border-radius: 50%;
        cursor: pointer;
        width: 50%;
        height: 4vh;
        &:first-of-type {
          top: 25%;
          left: -60%;
        }
        &:nth-of-type(2) {
          top: -65%;
          left: 25%;
          transition-delay: 0.05s;
        }
        &:nth-of-type(3) {
          top: 25%;
          right: -60%;
          transition-delay: 0.1s;
        }
        &:last-of-type {
          bottom: -65%;
          left: 25%;
          transition-delay: 0.05s;
        }

        .header-link {
          font-size: 0;
          text-decoration: none;
        }
      }
    }

    .logo {
      display: block;
      position: absolute;
      right: 5%;
      cursor: pointer;
      //   background: red;
      //   z-index: ;
    }
  }
}
.nav-link {
  color: #000 !important;
  background-color: rgba(49, 34, 25, 0.3) !important;

  border-radius: 24px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #312219 !important;
}
.nav-link:hover {
  color: #000;
}
#menu {
  display: flex;
  align-items: center;
  place-content: center;
  padding-top: 50px;
  // font-size: 0.6rem;
}

/*** Menu Styles ***/

.bar {
  @include object(25px, 2px, $accent);
  transition: 0.3s ease-in-out;
  &:nth-child(2) {
    width: 20px;
    margin: 5px 0;
  }
  &:last-child {
    width: 15px;
  }
}

#heading {
  @include object(120px, 20px, $accent);
  border-radius: 90px;
  margin-top: 40px;
}

.lookBook {
  padding: 100px;
  background: #998784;
  display: grid;

  .detail-img img {
    width: 25%;
    height: 100%;
    object-fit: contain;
  }
  .img-look {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      object-fit: contain;
      width: 30vw;
      height: 100%;
    }

    .detail-look {
      display: grid;
      grid-template-areas: "a a";
      grid-gap: 5px;
      img {
        width: 15vw;
        height: 100%;
      }
    }
  }
}

.livraison {
  background-color: #998784;
  padding: 15%;
  height: 100vh;
}

.vetement,
.accessoir {
  background-color: #998784;
  padding: 250px 160px;
  display: grid;
  grid-template-areas: "a a a";
}

.img {
  width: 100%;
}

.img img {
  width: 25vw;
  height: 65vh;
}

.videos {
  padding: 150px 50px;
  background: #998784;
  .main-video video {
    width: 30vw;
    height: 55vh;
  }
  .detail-video video {
    width: 15vw;
    height: 25vh;
  }
}
.detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #998784;
  height: 100vh;

  .detail-img img {
    width: 500px;
    height: 550px;
  }

  .detail-info {
    width: 40vw;
  }
}

.detail-info {
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .size-options {
    display: flex;
    gap: 50px;

    margin: 2rem 0;
    p {
      margin: 10px 0;
      font-weight: 700;
    }
    button {
      background: transparent;
      border: none;
      margin-right: 5px;
      font-size: large;
    }

    input[type="radio"] {
      display: grid;
      place-content: center;
      appearance: none;
      margin-right: 5px;
      font: inherit;
      color: currentColor;
      width: 2em;
      height: 2em;
      // border: 0.15em solid #000;
      border-radius: 50%;
    }
    .inputRed {
      background-color: #344954;
    }

    .inputYellow {
      background-color: #efb669;
    }

    .inputKaki {
      background-color: #a79e8b;
    }

    .inputGrayLight {
      background-color: #e5dbc2;
    }

    .inputBlue {
      background-color: #aa5c50;
    }

    .inputGreen {
      background-color: #49a8a8;
    }

    input[type="radio"]::before {
      content: "";
      width: 2em;
      height: 2em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em transparent;
      /* Windows High Contrast Mode */
      border: 0.15em solid #000;
      background-color: transparent;
    }
    input[type="radio"]:checked::before {
      transform: scale(1);
    }
  }
  .button-d {
    background-color: transparent;
    border: none;
    padding: 5px;
    position: relative;
    width: 6.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;

    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 12%;
      width: calc(100% + -15px);
      height: 2px;
      background-color: #212121;
      transition: 0.5s ease-out;
      transform: scaleX(1);
    }

    p {
      position: absolute;
      top: 0.4em;
      right: 3.2em;
      margin: 0;
      padding: 0;
      transition: 0.5s;
      color: #000;
    }
    img {
      position: absolute;
      top: 0.3em;

      margin: 0;
      padding: 0;
      opacity: 0;
      transition: 0.5s;
      height: 1.5em;
      width: 80%;
      // fill: #e5dbc2;
    }
    &:hover p {
      left: -2em;
      color: #998784;
    }
    &:hover img {
      opacity: 1;
      right: -2.5em;
      overflow: hidden;
    }
    &:hover {
      background-color: #fff;
      width: 10.2em;
      padding: 1.2em;
      border-radius: 60px;

      &::after {
        content: "";
        position: absolute;
        bottom: 8px;
        // left: 23px;
        width: 120px;
        height: 3px;
        background-color: #998784;
        transition: 0.3s ease-out;
        transform: scaleX(1);
      }
    }
  }
}

.detail-info-command {
  .panier {
    background-color: transparent;
    border: none;
    padding: 5px;
    position: relative;
    width: 10em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 6px;
      width: calc(100% - +44px);
      height: 2px;
      background-color: #212121;
      transition: 0.5s ease-out;
      transform: scaleX(1);
    }

    p {
      position: absolute;
      top: 0.4em;
      // right: 0em;
      width: rem;
      margin: 0;
      padding: 0;
      transition: 0.5s;
      color: #000;
    }
    img {
      position: absolute;
      top: 0.45em;

      margin: 0;
      padding: 0 7px;
      opacity: 0;
      transition: 0.5s;
      height: 1em;
      width: 78%;
      // fill: #e5dbc2;
    }
    &:hover p {
      left: 12px;
      color: #fff;
    }
    &:hover img {
      opacity: 1;
      right: -2.5em;
      transform: scaleX(1);
      overflow: hidden;
    }
    &:hover {
      background-color: #998784;
      width: 12.2em;
      height: 2.5em;

      border-radius: 60px;
      color: #fff;
      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 12px;
        width: calc(100% - +70px);
        height: 3px;
        background-color: #fff;
        transition: 0.3s ease-out;
        transform: scaleX(1);
      }
    }
  }
}

.livraison {
  .detail-info-command {
    .panier {
      img {
        position: absolute;
        top: 0.45em;

        margin: 0;
        padding: 0 7px;
        opacity: 0;
        transition: 0.5s;
        height: 1em;
        width: 50%;
      }
      p {
        color: #fff;
      }
      &:hover {
        background-color: #fff;
        width: 12.2em;
        height: 2.5em;
        border-radius: 60px;
        color: #fff;
      }
      &:hover img {
        opacity: 1;
        right: 0.5em;
        transform: scaleX(1);
        overflow: hidden;
      }
      &:hover p {
        color: #998784;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: calc(100% - 78px);
        height: 3px;
        background-color: #fff;
        transition: 0.3s ease-out;
        transform: scaleX(1);
      }

      &:hover::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 12px;
        width: calc(100% - 78px);
        height: 3px;
        background-color: #998784;
        transition: 0.3s ease-out;
        transform: scaleX(1);
      }
    }
  }
}
.dropdown-menu {
  border-radius: 20px 0 20px 20px !important;
  border: none !important;
  margin: -5px 0 !important;
}

.dropdown-toggle::after {
  // display: inline-block;
  // margin-left: 0.255em;
  // vertical-align: 0.255em;
  content: none !important;
  // border-top: 0.3em solid;
  // border-right: 0.3em solid transparent;
  // border-bottom: 0;
  // border-left: 0.3em solid transparent;
}

.show {
  background: #fff !important;
  border-radius: 20px 20px 0 0;
  button {
    border: none !important;
  }
}
a {
  color: #000;
}
.contact {
  // margin: 12% 0;
  padding: 13rem 0;
  background: #998784;
  width: auto;
  height: 100vh;
  img {
    width: 80%;
    height: 45%;
  }
  .address {
    padding: 0 20%;
  }
  .forms-contact {
    padding: 10px;
  }
  .detail-info .button-d {
    p {
      font-size: 0.7rem;
    }
  }
}

.terms {
  font-weight: 500;
  color: #000;
  padding: 15%;
  font-size: 20px;
  h1 {
    text-align: center;
    font-weight: 800;
    color: black;
    position: sticky;
  }
  h2 {
    font-weight: "800";
    color: black;
  }
}
.video-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px 0;
  video {
    width: 20vw;
    height: 40vh;
  }
}
footer {
  @include object(100vw, 100px, $nav-bg);
  position: fixed;
  display: grid;
  bottom: 0;
  // background: #n 46b2f0;
  grid-template-areas: "a a a";
  align-items: center;
  text-align: center;
  .footer-link {
    text-decoration: none;
    color: #000;
    font-weight: 800;
  }

  .footer-link {
    display: inline-block;
    position: relative;
    color: #000;
  }
}
.form-control {
  border-radius: 25px !important;
  padding: 1rem !important;
}
.react-responsive-modal-modal {
  border-radius: 20px !important;
  padding: 4rem !important;
}

/*** Responsive Menu For Smaller Device ***/
@media only screen and (250px <= width <=768px) {
  nav {
    &.navShadow {
      // box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
      height: 20%;
      background: #998784;

      #word-mark {
        opacity: 0;
      }
      .menu-btn {
        width: 15vw;
        height: 7.5vh;
        .button {
          opacity: 1;
          width: 8vw;
          height: 4vh;
          &:first-of-type {
            top: 25%;
            left: -60%;
          }
          &:nth-of-type(2) {
            top: -55%;
            left: 25%;
            transition-delay: 0.05s;
          }
          &:nth-of-type(3) {
            padding: 0;
            top: 25%;
            right: -55%;
            transition-delay: 0.1s;
          }
          &:last-of-type {
            bottom: -55%;
            left: 25%;
            transition-delay: 0.05s;
          }
        }
      }
      // .logo {
      //   display: block;
      //   position: absolute;
      //   right: 5%;
      //   cursor: pointer;
      //   //   background: red;
      //   //   z-index: ;
      // }
    }
  }

  #menu {
    padding: 0;
  }
  #head-line {
    transform: scale(0.8);
  }
  .header-link {
    font-size: 7px;
    font-weight: 800;
    text-decoration: none;
  }
  .menu-btn {
    width: 110px;
    height: 110px;
    padding: 10px;
    top: 0;
    .button {
      opacity: 1;
      width: 70px;
      height: 70px;

      &:first-of-type {
        top: 30px;
        left: -80%;
      }
      &:nth-of-type(2) {
        top: -85px;
        left: 20px;
        transition-delay: 0.05s;
      }
      &:nth-of-type(3) {
        padding: 26px;
        top: 30px;
        right: -80%;
        transition-delay: 0.1s;
      }
      &:last-of-type {
        bottom: -85px;
        left: 20px;
        transition-delay: 0.05s;
      }
    }
  }

  .livraison {
    padding: 40% 10%;
    height: 100%;
    .fs-6 {
      font-size: 0.6rem !important;
    }
    form {
      .pt-4 {
        padding-top: 1.1rem;
      }
    }
    img {
      width: 20% !important;
      height: 8rem !important;
    }
    .detail-info-command {
      .panier {
        // position: absolute;
        // bottom: -15%;
        // right: 11%;
        margin: 70px 0 0 -84px;
        width: 60%;
        img {
          top: -2.55em;
        }
        &::after {
          width: calc(100% - -24px);
        }
      }
      .panier:hover {
        bottom: 13%;
        right: 25%;
      }
    }
    .delivery {
      .my-4 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.2rem !important;
      }
      h3 {
        margin: 0;
      }
      .panier {
        bottom: 35px;

        &:hover {
          bottom: 35px;
          width: 13.2em;
        }
        img {
          top: -2.55em;
        }
        &::after {
          width: calc(100% - -50px);
        }
        P {
          width: 6.1rem;
        }
      }
      // /p  // .delivery {

      //   // }
    }
  }

  // .vetement , .accessoir{
  //   display: grid;

  //   padding: 90px 0;
  // }
  .vetement,
  .accessoir {
    display: grid;

    padding: 145px 0;
  }
  .accessoir {
    grid-template-areas: "a a";
    .img {
      height: 100vh;
    }
    img {
      width: 40%;
      height: 50%;
      margin: 0 15px;
    }
  }
  .detail {
    display: flex;
    padding: 0 20px 150px;

    justify-items: center;
    .detail-img {
      margin-bottom: 125px;
      img {
        width: 160px;
        height: 100%;
      }
    }
    .detail-info {
      width: 100%;
      text-align: center;
      padding: 0 10px 60px 0;
      h1 {
        margin: 10px 0;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: start;
      }
      .size-options {
        display: grid;
        row-gap: 10%;
        margin: 7% 11%;
        padding: 0 10px;
        position: absolute;
        justify-content: space-between;
        grid-template-areas: "a a";
        left: 0;
        text-align: start;
        font-weight: 800;
        font-size: 18px;
        // &:first-of-type {
        //   width: 16vw;
        // }
      }

      .button-d {
        position: absolute;
        width: 40%;
        // height: 5%;
        // bottom: 16%;
        // left: 23%;
        margin: 70% 0px 0px -40%;
        p {
          right: 65%;
          font-weight: 800;
          font-size: 20px;
        }
        img {
          height: 1.5em;
        }
        &:hover p {
          left: 12%;
          color: #998784;
        }
        &::after {
          bottom: 0px;
          left: 8%;
        }
        &:hover::after {
          bottom: 8px;
          left: 12%;
        }
      }
    }
  }
  .lookBook {
    padding: 50% 30px;
    .detail-img img {
      width: 30%;
      height: 100%;
      margin: 10px 0;
    }
    .detail-look {
      display: grid;
      grid-template-areas: "a a ";
      grid-gap: 5px;
      img {
        object-fit: contain;
        width: 25vw !important;
        height: 100%;
      }
    }
  }

  .videos {
    .main-video video {
      width: 50vw;
      height: 30vh;
    }
    .detail-video video {
      width: 35vw;
      height: 20vh;
    }
  }
  .video-container {
    display: grid !important;
    grid-template-areas: "a a" !important;
    gap: 5;
    video {
      width: 90%;
      height: 135px;
    }
  }
  .contact {
    padding: 11rem 0;
    // width: 100%;
    .logo-info {
      // text-align: center;
      // margin: 30px 0;
      img {
        display: none !important;
      }
    }
    .address {
      padding: 0 15%;
      .text-contact {
        text-align: center;
        font-size: 2rem;
      }
    }
    // .detail-info-command {
    //   text-align: center;
    // }
    h1 {
      text-align: center;
      font-size: 3.5rem;
      margin: 0;
    }
    label,
    .detail-info-command {
      padding: 0 5%;
      font-size: 1.5rem;
    }

    .forms-contact {
      padding: 0 10%;
    }
    textarea {
      width: 100%;
      height: 12vh;
    }
    .detail-info .button-d {
      width: 8.4em;
      p {
        font-size: 1rem;
        font-weight: bolder;
      }
      &::after {
        left: 0%;
      }
      &:hover {
        width: 12em;
        &::after {
          left: 7%;
        }
      }
    }
  }
  .terms {
    font-weight: 500;
    color: #000;

    padding: 60% 10%;
    font-size: 20px;
    h1 {
      text-align: center;
      font-weight: 800;
      color: black;
      background-color: #998784;
      position: fixed;

      top: 20%;
      right: 2%;
      width: 100%;
    }
    h2 {
      font-weight: 800;
      color: black;
    }
  }

  .img {
    text-align: center;
    img {
      width: 40vw;
      height: 30vh;
    }
  }
  .react-responsive-modal-modal {
    padding: 1rem !important;
    font-weight: 900;

    h2 {
      font-weight: 900;
      text-align: center;
      font-size: 30px;
    }
    .detail-info-command {
      text-align: center;
      p {
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
  footer {
    display: grid;

    .footer-link {
      font-size: 0.7rem;
      text-decoration: none;
    }
  }
}
